* {
  box-sizing: border-box;
}

body {
  background-image: url("../img/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  padding: 0;
  margin: 0;
  height: 100vh;
  color: rgba(255, 255, 255, 0.9);
  display: flex;
  align-items: center;
  font-family: "Quicksand", sans-serif;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
}

main {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

button {
  background-color: rgba(255, 255, 255, 0.08);
  padding: 1rem 2rem;
  border-radius: 35px;
  border: none;
  color: rgba(255, 255, 255, 0.85);
  letter-spacing: 1px;
  font-size: 1.3rem;
  cursor: pointer;
  transition: 0.4s;
}

button:hover {
  background-color: rgba(255, 255, 255, 0.15);
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#control-panel {
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 50px;
  width: 500px;
  padding: 20px;
  gap: 10px;
  backdrop-filter: blur(5px);
}

#control-panel h2.header {
  text-align: center;
  font-size: 2rem;
}
